# Supervised classification Problem

we are going to perform the moduling on house price dataset,in this we have maultiple parameters who can help us to predict the price of that specific house.

## Import the required library

In [3]:
# import numerical python
import numpy as np

# import the pandas
import pandas as pd

# import the seaborn
import seaborn as sns

# import the matplotlib
import matplotlib.pyplot as plt

### Data overview

In [5]:
# load the data
df_House_Price=pd.read_csv('House_Price1.csv')

In [6]:
# show the first 5 observation of the data
df_House_Price.head()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0

In [7]:
# show the last 5 observation of the data
df_House_Price.tail()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,1

In [8]:
#  show the shape of the data
df_House_Price.shape

(506, 15)

In [9]:
# show the basic information of the data 
df_House_Price.describe()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,Sold
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,498.000000,506.000000,506.000000,506.000000
mean,22.528854,41.136779,0.554695,6.284634,68.574901,3.971996,21.544466,12.653063,7.899767,13.041605,39.181818,0.454545
std,9.182176,6.860353,0.115878,0.702617,28.148861,2.108532,2.164946,7.141062,1.476683,5.238957,12.513697,0.498422
min,5.000000,30.460000,0.385000,3.561000,2.900000,1.130000,18.000000,1.730000,5.268000,10.057600,3.000000,0.000000
25%,17.025000,35.190000,0.449000,5.885500,45.025000,2.270000,19.800000,6.950000,6.634500,11.189800,28.000000,0.000000
50%,21.200000,39.690000,0.538000,6.208500,77.500000,3.385000,20.950000,11.360000,7.999000,12.720000,39.000000,0.000000
75%,25.000000,48.100000,0.624000,6.623500,94.075000,5.367500,22.600000,16.955000,9.088000,14.170800,50.000000,1.000000
max,50.000000,57.740000,0.871000,8.780000,100.000000,12.320000,27.400000,37.970000,10.876000,101.120000,60.000000,1.000000

In [10]:
# shoe th einformation of the data
df_House_Price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   distance     506 non-null    float64
 6   teachers     506 non-null    float64
 7   poor_prop    506 non-null    float64
 8   airport      506 non-null    object
 9   n_hos_beds   498 non-null    float64
 10  n_hot_rooms  506 non-null    float64
 11  waterbody    351 non-null    object
 12  rainfall     506 non-null    int64
 13  bus_ter      506 non-null    object
 14  Sold         506 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 59.4+ KB

# interpretation
we have 506 observationd and 15 attributes 
we have age column who contain the outlier

## data pre-processing

In [12]:
# lets perform the data cleaning 
df_House_Price.columns

Index(['price', 'resid_area', 'air_qual', 'room_num', 'age', 'distance',
       'teachers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'waterbody', 'rainfall', 'bus_ter', 'Sold'],
      dtype='object')

In [13]:
dictionary={
    'price':'Price',
    'resid_area':'Resedential_Area',
    'air_qual':'Air_Quality',
    'room_num':'Room_Number',
    'age':'Age',
    'distance':'Distance',
    'teachers':'Teachers',
    'poor_prop':'Poor_Property',
    'airport':'Airport',
    'n_hos_beds':'N_Hospital_Beds',
    'n_hot_rooms':'N_Hotel_Rooms',
    'waterbody':'Waterbody',
    'rainfall':'Rainfall',
    'bus_ter':'Bus_Terminal',
    'Sold':'Sold'
}

In [14]:
# Perform the rename action
df_House_Price = df_House_Price.rename(columns=dictionary)

In [15]:
df_House_Price.rename(columns=dictionary)

,Price,Resedential_Area,Air_Quality,Room_Number,Age,Distance,Teachers,Poor_Property,Airport,N_Hospital_Beds,N_Hotel_Rooms,Waterbody,Rainfall,Bus_Terminal,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,1

In [16]:
df_House_Price.columns

Index(['Price', 'Resedential_Area', 'Air_Quality', 'Room_Number', 'Age',
       'Distance', 'Teachers', 'Poor_Property', 'Airport', 'N_Hospital_Beds',
       'N_Hotel_Rooms', 'Waterbody', 'Rainfall', 'Bus_Terminal', 'Sold'],
      dtype='object')

# Null VAlue Handling

In [18]:
# find the number of missing records
df_House_Price.isnull().sum()

Price                 0
Resedential_Area      0
Air_Quality           0
Room_Number           0
Age                   0
Distance              0
Teachers              0
Poor_Property         0
Airport               0
N_Hospital_Beds       8
N_Hotel_Rooms         0
Waterbody           155
Rainfall              0
Bus_Terminal          0
Sold                  0
dtype: int64

In [19]:
# find the persentage
df_House_Price.isnull().sum()/df_House_Price.shape[0]*100

Price                0.000000
Resedential_Area     0.000000
Air_Quality          0.000000
Room_Number          0.000000
Age                  0.000000
Distance             0.000000
Teachers             0.000000
Poor_Property        0.000000
Airport              0.000000
N_Hospital_Beds      1.581028
N_Hotel_Rooms        0.000000
Waterbody           30.632411
Rainfall             0.000000
Bus_Terminal         0.000000
Sold                 0.000000
dtype: float64

In [20]:
# find the mode of waterbody column
df_House_Price.Waterbody.mode()

0    River
Name: Waterbody, dtype: object

In [21]:
# lets treat the null value in waterbody column
df_House_Price.Waterbody=df_House_Price.Waterbody.fillna('River')

In [22]:
# in n_hos_beds we have less than 10% of data is missing
df_House_Price.dropna(inplace=True)

In [23]:
df_target=df_House_Price['Sold']
df_features=df_House_Price.drop('Sold',axis=1)

In [24]:
# segregate the data based on the datatype 
df_num=df_House_Price.select_dtypes(include='number')
df_cat=df_House_Price.select_dtypes(include='object')

In [25]:
# use dummy encoding
df_encoded=pd.get_dummies(df_cat)

# reset the index
df_encoded=df_encoded.reset_index()

### Perform scaling on numerical data

In [27]:
# import the sdandard scalar
from sklearn.preprocessing import StandardScaler

# initiate the standard scalar 
ss=StandardScaler()

# scal the value present in numerical dataframe
scale=ss.fit_transform(df_num)

# numerrate the data into the data frame
scale_df=pd.DataFrame(scale,columns=df_num.columns)

# reset the index
scale_df=scale_df.reset_index()

# Perform the concatination operation

In [29]:
# concat encoded variable and scaled variable
df_independent=pd.concat([df_encoded,scale_df],axis=1)

# Split the data for training and testing

In [31]:
# import the train test split
from sklearn.model_selection import train_test_split

In [32]:
# split the data 
X_train,X_test,Y_train,Y_test=train_test_split(df_independent,
                                              df_target,
                                              test_size=0.2,)

# Apply linear regression

In [34]:
# import the model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [35]:
# initiate the model
tree_model=DecisionTreeClassifier()

In [36]:
# train the linear regeression model
tree_model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [37]:
# perform the prediction
predictions = tree_model.predict(X_test)

In [38]:
# calculate classification report
class_report=classification_report(Y_test,predictions)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        45
           1       1.00      1.00      1.00        55

    accuracy                           1.00       100
   macro avg       1.00      1.00      1.00       100
weighted avg       1.00      1.00      1.00       100